html {
  scroll-behavior: smooth;
}
button {
  padding: 0;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.slider-wrapper {
  color: #fff;
  display: inline-block;
  position: relative;
}

.keen-slider {
  width: calc(100vw - 30px);
  height: 70vw;

  @media (min-width: 576px) {
    width: 450px;
    height: 220px;
  }

  @media (min-width: 768px) {
    width: 600px;
    height: 294px;
  }

  @media (min-width: 990px) {
    width: 900px;
    height: 440px;
  }
}

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    border: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: 100%;
    @media (min-width: 576px) {
      width: 100%;
      height: auto;
    }
  }
}

.arrow {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  &.right {
    left: auto;
    right: 5px;
  }
  &.disabled {
    color: grey;
  }
}

.svg-icon {
  display: inline-block;
  vertical-align: text-bottom;
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
}

#dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  .dot {
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;

    &.active {
      background: #000;
    }
  }
}

.code-link-title{
  font-style: italic;
}

.stack-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .stack-link {
    font-size: 2.5rem;
    margin: 0.3rem 0.6rem;
    text-decoration: none;
    &.vuejs {
      color: #4fc08d;
    }
    &.angular {
      color: #dd0031;
    }
    &.react {
      color: #61dafb;
    }
    &.js {
      color: #f0db4f;
    }

    span {
      font-size: 0.7rem;
      display: block;
      color: #212529;
      font-weight: bold;
      margin-top: -5px;
    }
  }
}

.footer {
  font-size: 0.8rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  > .btn {
    margin: 0.3rem 0.3rem;
  }
}
