.keen-slider {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.keen-slider__slide {
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.keen-slider.keen-slider--vertical .keen-slider__slide {
  min-height: auto;
}

.keen-slider[data-keen-inline-mode] {
  display: block;
  overflow: auto;
  max-width: 100vw;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}
.keen-slider[data-keen-inline-mode] > .keen-slider__slide {
  position: relative;
  display: inline-block;
  white-space: normal;
}
